div.clear{
	clear:both;
}
form.sampling{
    width:100%;
    height:auto;
    background: rgb(251,251,251);
    margin-top:0.2rem;
	/*border-bottom:solid 1px #dfdfdf;*/
	border-left:solid 1px #dfdfdf;
	/*border-right:solid 1px #dfdfdf;*/
	border-top:solid 1px #dfdfdf;
	border-radius: 0.1rem 0.1rem 0 0;
}
form.sampling >p{
	border-radius: 0.1rem 0.1rem 0 0;
	border-right:solid 1px #dfdfdf;
    height: 0.6rem;
    line-height: 0.6rem;
    /*color: rgb(0,0,0);*/
    color:#005dc4;
    font-size: 0.2rem;
    background-color: rgba(242, 242, 242, 1);
    padding-left: 0.4rem;
    text-align: center;
    padding:0;
}
form.sampling .el-form-item{
	border-top:solid 1px #dfdfdf;
	margin:0;
	width:50%;
	float:left;
	height:0.5rem;
	line-height:0.5rem;
	color:#333333;
	background:#ffffff;
	overflow: hidden;
}
form.sampling .el-form-item.disabled{
	color:#999999;
}
/*验证码格子*/
form.sampling .el-form-item.code{
	float:right;
	height:1.5rem;
	line-height:0.5rem;
	position:static;
}
form.sampling .el-form-item.code .el-form-item__label{
	height:inherit;
}
form.sampling .el-form-item.code .el-form-item__content{
	height:inherit;
}
form.sampling .el-form-item.code .el-form-item__content img.codeimg{
	height:1.2rem;
	margin:0.12rem 0 0 0.2rem;
}
form.sampling .el-form-item.code .el-form-item__content span.codeinfo{
	font-size:0.16rem;
	display:block;
	color:rgb(51,51,51);
	padding-left:15px;
}
form.sampling .el-form-item.full{
	margin:0;
	width:100%;
	float:left;
}
form.sampling .el-form-item.problem{
	height:1rem;
	line-height:1rem;
	margin:0;
	width:100%;
	float:left;
}
form.sampling .el-form-item.images{
	height:1.5rem;
	line-height:1.5rem;
	margin:0;
	width:100%;
	float:left;
	position: relative;
}
form.sampling .el-form-item.problem .el-form-item__content{
	height:1rem;
	line-height:0.98rem;
}
form.sampling .el-form-item.images .el-form-item__content{
	height:1.5rem;
	line-height:1.48rem;
	padding-left:0.24rem;
	padding-top:0.2rem;
}
form.sampling .el-form-item.images .el-form-item__content .el-upload-list__item{
	height:1.1rem;
	width:1.5rem;
}
form.sampling .el-form-item.images .el-form-item__content .el-upload--picture-card{
	line-height:1.2rem;
	height:1.1rem;
	width:1.5rem;
}
form.sampling .el-form-item.images .i{
	font-size:0.2rem;
}
form.sampling .el-form-item .el-form-item__content{
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	height:0.5rem;
	line-height:0.48rem;
}
form.sampling .el-form-item .el-form-item__label{
	line-height: inherit;
	background-color: #fbfbfb;
	font-size:0.16rem;
}
/*文本框*/
form.sampling .el-form-item .el-form-item__content>.el-input input{
	height:0.46rem;
	line-height:0.46rem;
	border:none;
	padding-right:7em;
	font-size:0.16rem;
}
/*文本框*/
form.Manuscript .el-form-item .el-form-item__content>.el-input input{
	padding-right:12px;
}
/*文本域*/
form.sampling .el-form-item .el-form-item__content>.el-textarea{
	height:100%;
	border:none;
	padding:0;
	vertical-align:middle;
}
form.sampling .el-form-item .el-form-item__content>.el-textarea textarea{
	/*height:100%!important;*/
	line-height:0.3rem;
	border:none;
	padding-right:7em;
	font-size:0.16rem;
	resize: none;
}

/*验证*/
form.sampling .el-form-item .el-form-item__content .el-form-item__error{
	top:50%;
	padding:0;
	right:0.2rem;
	left:auto;
	margin-top:-7px;
}
/*下拉*/
form.sampling .el-form-item .el-form-item__content .el-select{
	/*padding-left:0.2rem;*/
	margin-left:0.2rem;
}
form.sampling .el-form-item .el-form-item__content .el-select .el-input input{
	height:0.36rem!important;
	width:2.75rem;
	line-height:0.34rem;
	border:solid  0.01rem #dfdfdf;
	font-size:0.16rem;
	background:#f2f2f2;
	border-radius:0;
}
/*数字*/
form.sampling .el-form-item .el-form-item__content .el-input-number{
	margin-left:0.2rem;
	width:0.9rem;
	height:0.24rem;
	line-height:0.24rem;
	vertical-align: middle;
}
form.sampling .el-form-item .el-form-item__content .el-input-number .el-input-number__decrease{
	width:0.2rem;
	height:100%;
	background:#4c90db;
	border-radius:0;
	color:#ffffff;
	font-size:0.14rem;
	border:none;
	top:0;
}
form.sampling .el-form-item .el-form-item__content .el-input-number .el-input-number__decrease i{
	width:100%;
	height:100%;
	line-height:0.23rem;
}
form.sampling .el-form-item .el-form-item__content .el-input-number .el-input-number__increase{
	width:0.2rem;
	height:100%;
	background:#4c90db;
	border-radius:0;
	color:#ffffff;
	font-size:0.14rem;
	border:none;
	top:0;
}
form.sampling .el-form-item .el-form-item__content .el-input-number .el-input-number__increase i{
	width:100%;
	height:100%;
	line-height:0.23rem;
}
form.sampling .el-form-item .el-form-item__content .el-input-number .is-disabled{
	background: #b7b7b7;
}
form.sampling .el-form-item .el-form-item__content .el-input-number .el-input{
	font-size:0.11rem;
	height:100%;
	border:none;
}
form.sampling .el-form-item .el-form-item__content .el-input-number .el-input .el-input__inner{
	padding-left: 0.2rem;
    padding-right: 0.2rem;
    height:100%;
}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){
	border-color: #dcdfe6;
}
/*时间*/
form.sampling .el-form-item .el-form-item__content .el-form-item{
	border:none;
	margin:0;
	width:auto;
	float:none;
	height:0.5rem;
	line-height:0.5rem;
	color:inherit;
}
form.sampling .el-form-item .el-form-item__content .el-form-item .el-form-item__content{
	border:none;
	height:0.5rem;
	line-height:0.48rem;
	padding-right:7em;
	padding-left:0.2rem;
}
form.sampling .el-form-item .el-form-item__content .el-form-item .el-form-item__content .el-date-editor{
	width:2rem!important;
}
form.sampling .el-form-item .el-form-item__content .el-form-item .el-form-item__content .el-date-editor input{
	height:0.36rem;
	width:2rem;
	line-height:0.34rem;
	border:solid 0.01rem #dfdfdf;
	font-size:0.16rem;
	background:#f2f2f2;
	padding:0;
	border-radius:0;
	padding-left:0.5rem;
}
form.sampling .el-form-item .el-form-item__content .el-form-item .el-form-item__content .el-date-editor .el-icon-date{
	line-height:0.5rem;
	color:#2dc0e8;
}
/*开关*/
form.sampling .el-form-item .el-form-item__content .el-switch{
	margin-left:0.2rem;
}
/*单选*/
form.sampling .el-form-item .el-form-item__content .el-radio-group{
	margin-left:1.1rem;
}
/*单选颜色*/
.el-radio__input.is-checked .el-radio__inner, .el-radio__input.is-indeterminate .el-radio__inner{
    background-color:rgb(88, 180, 129);
}
.el-radio__input.is-focus .el-radio__inner, .el-radio__inner:hover{
	border-color:rgb(88, 180, 129);
}
.el-radio__input.is-checked+.el-radio__label{
	color:rgb(88, 180, 129);
}
.el-radio__label{
	font-size:0.16rem;
}
/*提交与取消*/
form.sampling .btns{
	clear:both;
	padding:0.6rem 0;
	text-align: center;
	border-top:solid 1px #dfdfdf;
	position:relative;
	z-index: 2;
	left:-1px;
	background:#ffffff;
}

form.sampling .btns button {
    font-size: 0.18rem;
    padding: 0rem;
    line-height: 0.5rem;
    border-radius: 0.1rem;
    width:1.3rem;
    height:0.5rem;
    text-align: center;
}
form.sampling .btns .exportexcel{
	position:absolute;
	top:0.65rem;
	right:0;
	height:0.4rem;
	line-height: 0.33rem;
	/*margin:0 0 0 0.3rem;*/
	font-size: 0.24rem;
	cursor: pointer;
	background-color: #4c90db;
	border-radius: 0.05rem;
	box-sizing: border-box;
	padding:0.04rem;
	color:#ffffff;
	z-index: 6;
}
form.sampling .btns .exportexcel span{
	border:1px solid #FFFFFF;
	border-radius:0.04rem;
	padding:0 0.2rem;
	font-weight: 500;
}
form.sampling .btns .el-button+.el-button{
	margin-left:0.57rem;
}
form.sampling .btns button.yes {
	background-color: rgb(76, 144, 219);
	border-color:rgb(76, 144, 219);
}
form.sampling .btns button.yes:hover {
	background-color: rgba(76, 144, 219,0.8);
	border-color:#4c90db;
}
form.sampling .btns button.no {
	color: #4c90db;
	border-color:#4c90db;
}
form.sampling .btns button.no:hover {
	background:rgba(76, 144, 219,0.1);
}
/*问题加一按钮*/
form.sampling .btns .addproblem{
	position:absolute;
	right:0;
	top:0;
	width: 1.14rem;
	height: 0.35rem;
	line-height:0.35rem;
	text-align:center;
	border-radius:0 0 0.1rem 0.1rem;
	background-color: #ffffff;
	border: solid 1px #4c90db;
	color: #4c90db;
	font-size:0.16rem;
	cursor:pointer;
}
/*问题减一按钮*/
form.sampling .btns .delproblem{
	position:absolute;
	right:1.24rem;
	top:0;
	width: 1.14rem;
	height: 0.35rem;
	line-height:0.35rem;
	text-align:center;
	border-radius:0 0 0.1rem 0.1rem;
	background-color: #ffffff;
	border: solid 1px #E95858;
	color: #E95858;
	font-size:0.16rem;
	cursor:pointer;
}
/*颜色继承*/
form.sampling .el-form-item__label,form.sampling input{
	color:inherit;
}
form.sampling .el-input.is-disabled .el-input__inner{
	background:rgba(0,0,0,0);
	color:inherit;
}

/*工作底稿*/
form.sampling .el-form-item.three{
	width:33.33333%;
}
form.sampling .el-form-item.three2{
	width:66.66666%;
}
form.sampling .el-form-item.three .el-form-item__content>.el-input input{
	padding-right:0;
}
form.sampling .el-form-item.three2 .el-form-item__content>.el-input input{
	padding-right:0;
}
form.sampling .left{
	width:33.3333%;
	float:left;
}
form.sampling .right{
	width:66.6666%;
	float:left;
}
form.sampling .left>div{
	margin-right:-2rem;
}
form.sampling .right>div{
	/*margin-left:2rem;*/
}
form.sampling .right>div.padding{
	margin-left:2rem;
}
form.sampling .merge_title_3{
	width:2rem;
	float:left;
	line-height: 1.5rem;
    background-color: #fbfbfb;
    font-size: 0.16rem;
    text-align: right;
    vertical-align: middle;
  	color:inherit;  
    /*box-sizing: border-box;*/
    padding: 0 12px 0 0;
    /*border-right:solid 1px #dfdfdf;*/
    border-top:solid 1px #dfdfdf;
}

form.sampling .merge_title_2{
	width:3.1rem;
	float:left;
	line-height: 1rem;
    background-color: #fbfbfb;
    font-size: 0.16rem;
    text-align: right;
    vertical-align: middle;
  	color:inherit;  
    /*box-sizing: border-box;*/
    padding: 0 12px 0 0;
    /*border-right:solid 1px #dfdfdf;*/
    border-top:solid 1px #dfdfdf;
}
form.sampling .right .merge_title_3,form.sampling .right .merge_title_2{
    border-left:solid 1px #dfdfdf;
    width:100%;
}
form.sampling .el-form-item.leftborder{
	/*overflow: hidden;*/
    border-left:solid 1px #dfdfdf;
    width:auto;
    float:none;
    /*margin-left:2rem;*/
    position: relative;
}
form.sampling .left .el-form-item{
	/*overflow: hidden;*/
    /*border-left:solid 1px #dfdfdf;*/
    width:auto;
    float:none;
    /*margin-left:2rem;*/
    position: relative;
}
/*form.sampling .left .el-form-item.leftborder .el-form-item__content{
	border-right:none;
	margin-right:1px;
	float:right;
	width:2rem;

	position:absolute;
	right:0;
	top:0;
}
form.sampling .left .el-form-item.leftborder .el-form-item__label{
	float:none;
	width:auto!important;
	display: block;
	margin-right:2rem;
	overflow: hidden;
}*/
form.sampling .left .el-form-item .el-form-item__content{
	border-right:none;
	margin-right:1px;
	float:right;
	width:2rem;

	position:absolute;
	right:0;
	top:0;
}
form.sampling .left .el-form-item .el-form-item__label{
	float:none;
	width:auto!important;
	display: block;
	margin-right:2rem;
	overflow: hidden;
}
form.sampling .el-form-item.leftborder .el-form-item__content input{
	padding-right:12px;
}
.merge_title_right{
    width:50%;
	float:left;
	padding-left:2rem;
}
.fromrow{
	height: 0.5rem;
	line-height: 0.48rem;
	background-color: #ffffff;
	border-top: solid 1px #dfdfdf;
	text-align: center;
	color: #333333;
	font-weight:700;
	font-size:0.16rem;
}
.right .fromrow{
	border-right: solid 1px #dfdfdf;
	border-left: solid 1px #dfdfdf;
}
.right .imgbox{
	height:4.5rem;
	border-left: solid 1px #dfdfdf;
	border-top: solid 1px #dfdfdf;
	border-right: solid 1px #dfdfdf;
	background-color:#ffffff;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	/*background-image:url('~static/images/sys/box.jpg');*/
}
form.sampling .el-form-item.small{
	/*border-left: solid 1px #dfdfdf;*/
	width:33.3333%;
}
form.sampling .el-form-item.small .el-form-item__label{
	width:1.4rem!important;
}
form.sampling .el-form-item.small .el-form-item__content{
	margin-left:1.4rem!important;
}
form.sampling .el-form-item.small .el-form-item__content input{
	padding:0 12px;
}
.cover_left{
	width:50%;
	float:left;
	padding-left:2rem;
	height:0.5rem;
}
.cover_left+.el-form-item{
	border-left:solid 1px rgba(0,0,0,0);
}
.cover_left>div{
	height:0.5rem;
	border-left: solid 1px #dfdfdf;
	border-top: solid 1px #dfdfdf;
}
/*说明*/
form.sampling .Explain{
	margin-left:-1px;
	background:#ffffff;
}
form.sampling .Explain pre{
	margin:0;
	color:#333333; 
	font-size:0.16rem; 
	line-height:0.25rem;
}

div.line{
	height:0.11rem;
	margin-left:-1px;
	clear: both;
	border-top: solid 1px #dfdfdf;
	background:#ffffff;
}
/*下拉菜单*/
.select .el-input__icon{
	line-height:0.5rem;
}
.el-select-dropdown__item{
	font-size:0.16rem;
}
.el-select-dropdown__item.selected{
	color: #4c90db;/*我在Form.css*/
}
.el-checkbox-group{
	height:100%;
	padding:0 15px;
}
.el-checkbox__label{
	font-size:0.16rem;
}

form.sampling .el-form-item.treelabel{
	margin:0;
	width:100%;
	float:left;
	height:4rem;
}
form.sampling .el-form-item.treelabel .el-form-item__content{
	position:relative;
	height:100%;	
}

/*存放位置下拉*/
/*form.sampling .el-form-item.position .el-form-item__content .el-select{
	padding-left:0.2rem;
}*/
form.sampling .el-form-item.position .el-form-item__content .el-select .el-input input{
	height:0.36rem;
	width:1.5rem;
	line-height:0.34rem;
	border:solid  0.01rem #dfdfdf;
	font-size:0.16rem;
	background:#f2f2f2;
	border-radius:0;
}
/*存放位置文本框*/
form.sampling .el-form-item.position .el-form-item__content>.el-input{
	width:1.25rem;
}
form.sampling .el-form-item.position .el-form-item__content>.el-input input{
	height:0.46rem;
	line-height:0.46rem;
	border:none;
	/*padding-right:7em;*/
	padding-right:0;
	padding-left:0;
	font-size:0.16rem;
}
form.sampling .actionsWrap{
	clear: both;
    overflow: hidden;
    position: relative;
    /*line-height: 1.5rem;*/
}
form.sampling .actionsWrap .actionsTitle{
	text-align: center;
	color:#606266;
	font-size:0.16rem;
	width:3em;
	position:absolute;
	top:1px;
	left:0;
	background: #fbfbfb;
	border-right:1px solid #dfdfdf;
    line-height: 0.75rem;
}
form.sampling .tableAddWrap{
	position:absolute;
	top:0;
	right:0;
}
form.sampling .tableAdd {
    /*position: absolute;
    right: 0;
    top: 0;*/
    /*width: 1.14rem;*/
    float:right;
   	padding:0 0.07rem;
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: center;
    border-radius: 0 0 0.1rem 0.1rem;
    background-color: #ffffff;
    border: solid 1px #4c90db;
    color: #4c90db;
    font-size: 0.16rem;
    cursor: pointer;
	/*margin-top:-0.6rem;*/
}
form.sampling .tableAdd p{
    padding-left:0.35rem;
    background-repeat:no-repeat;
    background-position:left center;
    background-size:0.3rem 0.3rem;
    font-size:0.16rem;
    line-height: 0.35rem;
}
form.sampling .tableDel {
    /*position: absolute;
    right: 0;
    top: 0;*/
    /*width: 1.14rem;*/
    float:right;
   	padding:0 0.07rem;
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: center;
    border-radius: 0 0 0.1rem 0.1rem;
    background-color: #ffffff;
    border: solid 1px #E95858;
    color: #E95858;
    font-size: 0.16rem;
    cursor: pointer;
    margin-right:0.1rem;
	/*margin-top:-0.6rem;*/
}
form.sampling .tableDel p{
    padding-left:0.35rem;
    background-repeat:no-repeat;
    background-position:left center;
    background-size:0.3rem 0.6rem;
    font-size:0.16rem;
    line-height: 0.35rem;
}
/*备注*/
form.sampling .remark-input .el-input__inner{
	/*height: 0.36rem;
    width: 2.1rem;
    line-height: 0.36rem;
    border: solid 0.01rem #dfdfdf;
    font-size: 0.16rem;
    background: #f2f2f2;
    border-radius: 0;
    */
    
    height:0.36rem!important;
	width:2.75rem;
	line-height:0.34rem;
	border:solid 0.01rem #dfdfdf;
	font-size:0.16rem;
	background:#f2f2f2;
	border-radius:0;
	margin-left:0.2rem;
}
	
/*内边框表单borderInput*/
form.sampling .el-form-item.borderInput .el-form-item__content>.el-input {
    padding-left: 0.12rem;
}
form.sampling .el-form-item.borderInput .el-form-item__content>.el-input input{
	height:0.3rem;
	line-height:0.46rem;
	/*border-width:1px;*/
	border:1px solid #d2d2d2;
	border-radius: 0;
	padding-right:7em;
	font-size:0.16rem;
}
form.sampling .el-form-item.borderInput .el-form-item__content>.el-input{
	width:auto;
}
form.sampling .el-form-item.borderInput .el-form-item__content>.el-input{
	width:auto;
}
form.sampling .el-form-item.borderInput .el-form-item__content .el-form-item__error{
	position:static;
	margin:0 0 0 0.12rem;
}
/*双色按钮*/
form.sampling .btns.doubleColor{
	padding:0.42rem 0;
}
form.sampling .btns.doubleColor button.yes {
	color: #ffffff;
	background-color: rgb(88,180,129);
	border-color:rgb(88,180,129);
}
form.sampling .btns.doubleColor button.yes:hover {
	background-color: rgba(88,180,129,0.8);
	border-color:rgb(88,180,129);
}
form.sampling .btns.doubleColor button.no {
	background-color: rgba(255, 76, 120, 1);
	border-color:rgba(255, 76, 120, 1);
	color:#fff;
}
form.sampling .btns.doubleColor button.no:hover {
	background-color: rgba(255, 76, 120, 0.8);
	border-color:rgba(255, 76, 120, 1);
	color:#fff;
}